<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {     
            actor.provider = cluster
            remote {
                dot-netty.tcp {
                    port = 8081
                    hostname = localhost
                }
            }
            
            cluster {
             seed-nodes = ["akka.tcp://calculation@localhost:8081"] # address of seed node
             roles = ["client"] # roles this member is in
          }


    
          actor {
          	deployment {         
							"/cliClient/calculationCoordinators" {
                router = round-robin-pool
								nr-of-instances = 5
              
               }
           }  
          }
          }
          ]]>
    </hocon>
  </akka>

</configuration>