<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {     
            actor.provider = cluster
            remote {
                dot-netty.tcp {
                    port = 0
                    hostname = localhost
                }
            }
            
            cluster {
             seed-nodes = ["akka.tcp://calculation@localhost:8081"] # address of seed node
             roles = ["calculation"] # roles this member is in
             # role.["crawler"].min-nr-of-members = 3 # crawler role minimum node count
             
            pub-sub {
                # Actor name of the mediator actor, /system/distributedPubSubMediator
                name = distributedPubSubMediator

                # Start the mediator on members tagged with this role.
                # All members are used if undefined or empty.
                role = ""

                # The routing logic to use for 'Send'
                # Possible values: random, round-robin, broadcast
                routing-logic = random

                # How often the DistributedPubSubMediator should send out gossip information
                gossip-interval = 1s

                # Removed entries are pruned after this duration
                removed-time-to-live = 120s

                # Maximum number of elements to transfer in one message when synchronizing the registries.
                # Next chunk will be transferred in next round of gossip.
                max-delta-elements = 3000

                # The id of the dispatcher to use for DistributedPubSubMediator actors. 
                # If not specified default dispatcher is used.
                # If specified you need to define the settings of the actual dispatcher.
                use-dispatcher = ""
              }
          }
          
          
    
          }
       }
          ]]>
    </hocon>
  </akka>

</configuration>